In [1]:
import matplotlib.pyplot as plt

import pandas as pd

from app.Categoricer import Categoricer
from app.MCA import MCA
from app.KMeans import Kmeans
from app.KModes import Kmodes

In [2]:
data = pd.read_csv(r"./data/data.csv")
data = data.iloc[:, :6]
data

      ingresos  egresos    activos   pasivos  vol_trans a_econ
0     20000000  6000000  380000000  48000000    6000000     A2
1      5593385  1185000   43000000  14000000    1678015     A2
2      1800000   730000  123000000  20000000     540000     A2
3      3474000  1300000   52000000  10000000    1042200     A2
4      5421293   825000   75000000    500000    1626387     A2
...        ...      ...        ...       ...        ...    ...
6995   8000000  1420000   83000000  10000000    2400000     A4
6996   2400000   600000   20000000         1     720000     A2
6997   2792832   800000  123000000    800000     837849     A6
6998   1600000   600000  270000000         1     480000     A6
6999   2089745  1050000  210000000  30000000     626923     A2

[7000 rows x 6 columns]

In [3]:
# generate categories
categoricer_model = Categoricer(show_graph_solution=False)
categories = categoricer_model.generate_cagegories(data)

# apply MCA
mca_model = MCA()
coordinates_row , _ = mca_model.getCoordinates(data)

# apply kmeans to mca points
kmeans_model = Kmeans()
K,_ = kmeans_model.get_K_from_points(coordinates_row)

# apply kmodes
kmodes_model = Kmodes()
labels = kmodes_model.segmentate_for_K(categories,K)

[Categoricer 2023-05-27 19:10:56.003943] START generate_cagegories
[Categoricer 2023-05-27 19:10:56.006341] PROCESSING column [ingresos]
[Categoricer 2023-05-27 19:10:56.007530] Column: ingresos, is Numeric
[Categoricer 2023-05-27 19:11:00.905029] Column: ingresos, optimal K: 8
[Categoricer 2023-05-27 19:11:01.076980] Column: ingresos, creating categories labels
[Categoricer 2023-05-27 19:11:01.272515] PROCESSING column [egresos]
[Categoricer 2023-05-27 19:11:01.272569] Column: egresos, is Numeric
[Categoricer 2023-05-27 19:11:05.945301] Column: egresos, optimal K: 4
[Categoricer 2023-05-27 19:11:06.110161] Column: egresos, creating categories labels
[Categoricer 2023-05-27 19:11:06.305568] PROCESSING column [activos]
[Categoricer 2023-05-27 19:11:06.305635] Column: activos, is Numeric
[Categoricer 2023-05-27 19:11:10.880634] Column: activos, optimal K: 10
[Categoricer 2023-05-27 19:11:11.065733] Column: activos, creating categories labels
[Categoricer 2023-05-27 19:11:11.258734] PROCESSING column [pasivos]
[Categoricer 2023-05-27 19:11:11.258785] Column: pasivos, is Numeric
[Categoricer 2023-05-27 19:11:16.042837] Column: pasivos, optimal K: 5
[Categoricer 2023-05-27 19:11:16.223599] Column: pasivos, creating categories labels
[Categoricer 2023-05-27 19:11:16.416279] PROCESSING column [vol_trans]
[Categoricer 2023-05-27 19:11:16.416336] Column: vol_trans, is Numeric
[Categoricer 2023-05-27 19:11:21.190471] Column: vol_trans, optimal K: 8
[Categoricer 2023-05-27 19:11:21.359860] Column: vol_trans, creating categories labels
[Categoricer 2023-05-27 19:11:21.556431] PROCESSING column [a_econ]
[Categoricer 2023-05-27 19:11:21.556516] Column: a_econ, is Categorical
[Categoricer 2023-05-27 19:11:21.556526] Column: a_econ, creating categories labels
[Categoricer 2023-05-27 19:11:21.560006] END generate_cagegories
[MCA 2023-05-27 19:11:21.560253] START getCoordinates
[MCA 2023-05-27 19:11:21.621414] END getCoordinates
[Kmeans 2023-05-27 19:11:21.621535] START get_K_from_points
[Kmeans 2023-05-27 19:11:21.621563] clustering for k: 2
[Kmeans 2023-05-27 19:11:21.725172] clustering for k: 3
[Kmeans 2023-05-27 19:11:21.869668] clustering for k: 4
[Kmeans 2023-05-27 19:11:22.018329] clustering for k: 5
[Kmeans 2023-05-27 19:11:22.226699] clustering for k: 6
[Kmeans 2023-05-27 19:11:22.443476] clustering for k: 7
[Kmeans 2023-05-27 19:11:22.636776] clustering for k: 8
[Kmeans 2023-05-27 19:11:22.803103] clustering for k: 9
[Kmeans 2023-05-27 19:11:22.945748] clustering for k: 10
[Kmeans 2023-05-27 19:11:23.125702] clustering for k: 11
[Kmeans 2023-05-27 19:11:23.288525] clustering for k: 12
[Kmeans 2023-05-27 19:11:23.518240] clustering for k: 13
[Kmeans 2023-05-27 19:11:23.771504] Finding optimal K value from intertias: [4186.181764432929, 3054.4433552206256, 2358.6578627653553, 1960.3477322486515, 1532.554176735467, 1316.6829056719855, 1148.6471360554292, 1036.9657574326034, 936.5627660587361, 861.3668108331522, 803.4109402368663, 739.2857474918214]
[Kmeans 2023-05-27 19:11:23.771667] Optimal K value: 5
[Kmeans 2023-05-27 19:11:23.771679] END get_K_from_points
[Kmodes 2023-05-27 19:11:23.771786] START segmentate_for_K
[Kmodes 2023-05-27 19:11:23.771792] clustering for value k: 5
[Kmodes 2023-05-27 19:11:26.602616] END segmentate_for_K

In [4]:
labels

array([0, 0, 0, ..., 4, 4, 0], dtype=uint16)